.jumboBack {
    background-image: url(http://oi66.tinypic.com/28am9fs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.backHijau {
    background-color: #0bc72a;;
}
.card:hover {
    -webkit-box-shadow: 8px 7px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 7px 1px 0px rgba(0,0,0,0.75);
}
